// Variables from Design System
@import "./../../../../getrak-dsp/dist/styledictionary/scss/variables.scss";
@import "text-styles";

$theme-colors: (
    "azul": $gds-tema-azul,
    "neutro": $gds-tema-neutro,
    "verde": $gds-tema-verde,
    "amarelo": $gds-tema-amarelo,
    "vermelho": $gds-tema-vermelho,
    "roxo": $gds-tema-roxo
);

$border-radius: .6rem;

$btn-border-radius: $border-radius;
$card-border-radius: $border-radius;

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";