// Variáveis do Design System
@import "./../../../../getrak-dsp/dist/styledictionary/scss/variables.scss";
@import "text-styles";



// ## Criando novos temas

$theme-colors: (
    "azul": $gds-tema-azul,
    "neutro": $gds-tema-neutro,
    "verde": $gds-tema-verde,
    "amarelo": $gds-tema-amarelo,
    "vermelho": $gds-tema-vermelho,
    "roxo": $gds-tema-roxo
);



// ## Customizando o componente botão <b-button/>

// Converte de pixels para em
@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em;
}

$btn-border-radius: .5rem;
$btn-padding-x: 1rem;
$btn-padding-y: .5rem;



// ## Customizando grid
$grid-columns:      12;
$grid-gutter-width: 24px;



// Importando Bootstrap sass
@import "node_modules/bootstrap/scss/bootstrap";