@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$browser-context: 16; // Default

// Converte de pixels para em
@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

// Converte font-family string para um valor
@function weight($string) {
  @if $string == Thin {
    @return 100;
  } @else if $string == Light {
    @return 300;
  } @else if $string == Regular {
    @return 400;
  } @else if $string == Medium {
    @return 500;
  } @else if $string == Semibold {
    @return 600;
  } @else if $string == Bold {
    @return 700;
  } @else if ($string == Black) {
    @return 900;
  } @else {
    @return 400;
  }
};

#app {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
}

.gds-titulo-h1 {
    font-size: rem($gds-titulo-h-1-size); //1.802rem
    font-weight: weight($gds-titulo-h-1-weight); // Regular
}
.gds-titulo-h2 {
  font-size: rem($gds-titulo-h-2-size); // 1.602rem
  font-weight: weight($gds-titulo-h-2-weight); // Semi-bold
}
.gds-texto {
  font-size: rem($gds-texto-size); // 1rem
  font-weight: weight($gds-texto-weight); // Regular
}
.gds-texto-2 {
  font-size: rem($gds-texto-2-size); // 0.889rem
  font-weight: weight($gds-texto-2-weight); // Regular
}

